@charset "utf-8";
/* CSS Document */

html, body{
       width: 100%;
       height: 100%;
}

body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#594F3E;
	padding:0;
	margin:0;
	overflow-x:hidden;
}

img{
	border:none;
}

a{
	color:#594F3E;
	text-decoration:underline;
	padding:2px;
}

a:hover{
	color:#fff;
	background:#8e8e03;
	text-decoration:none;
}

h1{
	color:#594F3E;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:20px;
	padding:15px 0px 15px 0px;
	margin:0;
	font-weight:normal;
	text-transform:lowercase
}

h2{
	color:#594F3E;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:18px;
	padding:10px 0px 10 0px;
	margin:0;
	font-weight:normal;
	text-transform:lowercase
}


h3{
	color:#594F3E;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:16px;
	padding:10px 0px 10 0px;
	margin:0;
	font-weight:normal;
	text-transform:lowercase
}

h1 a, h2 a, h3 a{
	text-decoration:none;	
}

.small{
	font-size:10px;	
	color:#A29379;
}

/*********** Header *************/
#header{
	width: 100%;
	position: fixed;
    top: 0;
    background: white;
    z-index: 10;
}


#header-outer{
	width:75%;
	
	/* height:80px; */
	padding: 20px;
	display: inline-grid;
    /* grid-template-columns: 25% 25% 25% 25%; */
    grid-template-columns: auto auto auto auto;
}


#header-outer #logo{
	float:left;
	margin: auto;
}

#header-outer #logo a:hover{
	background:none;
}

#header-outer #address{
	float:left;
	text-align:left;
	margin-left:30px;
	line-height:130%;
	margin: auto;
}

#header-outer #navi-lang{
	float:right;
	text-align:right;
	height: 85px;
	background: url(../images/25jahre.gif) no-repeat bottom right;
	width: 200px;
	margin: auto;
}

#header-outer #navi-lang a{
	text-decoration:none;
	padding:3px;
}

#header-outer #navi-lang .active-item{
	font-weight:bold;	
}

/********* Headerimge**********/
#header-image-outer{
	margin-top: 135px;
}
#header-image-inner{
	height:auto;
	padding-top:10px;
	background:#7C6F56;
}

/************ NaviMain ************/

#navi-main-outer{
	width:100%;
	clear:both;
	height:50px;
	background:#594F3E;
}

#navi-main-inner{
	width:830px;
	text-align:left;
}

#navi-main-inner a{
	color:#fff;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:20px;
	float:left;
	display:block;
	text-decoration:none;
	height:38px;
	padding:12px 15px 0 15px;
	margin-right:2px;
}

#navi-main-inner a:hover, #navi-main-inner .active-item{
	background:#8e8e03;
}

/********* Content **********/

#content-outer{
	background: #DAD5CB;	
	padding: 10px 0 0px 0;
	clear:both;
}

#navi-sub-inner{
	width:810px;
	text-align:left;
}

#navi-sub-inner a{
	text-decoration:none;
	padding:5px;
	line-height:26px;
	white-space:nowrap;
}

#navi-sub-inner a:hover, #navi-sub-inner .active-item{
	background:#594F3E;
	color:#fff;
}

#content-inner{
	width:650px;
	text-align:left;
	padding: 50px 200px 70px 50px;
	line-height:160%;
	clear:both;
	
	/* background:url(../images/sarner-gschick-bg.gif) no-repeat right bottom;	 */
}

/********** Footer ***********/

#footer-outer{
	height:60px;	
	padding:30px 0 20px 0;
	clear:both;
	/* width:800px; */
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#brandingpartner a{
	margin: 0 40px 0 0;	
}
#brandingpartner{
	align-self: baseline;
}

/**/
#brandingpartner .logo-suedtirol{
	background:url(../images/logos/suedtirol.gif) no-repeat;
	width:85px;
	height:50px;
	display:block;
	float:left;
}
#brandingpartner .logo-suedtirol:hover{
	background-image:url(../images/logos/suedtirol-h.gif);
}
/**/
#brandingpartner .logo-sarnergschick{
	background:url(../images/logos/sarnergschick.gif) no-repeat;
	width:116px;
	height:50px;
	display:block;
	float:left;
	margin-left: 8rem;
}
#brandingpartner .logo-sarnergschick:hover{
	background-image:url(../images/logos/sarnergschick-h.gif);
}
/**/
#brandingpartner .logo-mirSarner{
	background: url(../images/logos/mirSarner-sw.svg) no-repeat;
	width:120px;
	height:50px;
	display:block;
	float:left;
}
#brandingpartner .logo-mirSarner:hover{
	background: url(../images/logos/mirSarner.svg) no-repeat;
}
/**/
#brandingpartner .logo-sarntal {
    background: url(../images/logos/Sarntal-sw.png) no-repeat;
    width: 286px;
    height: 137px;
    display: block;
    float: left;
    transform: scale(0.383);
    transform-origin: top;
}
#brandingpartner .logo-sarntal:hover {
    background: url(../images/logos/Sarntal.png) no-repeat;
    width: 286px;
    height: 137px;
    display: block;
    float: left;
    transform: scale(0.383);
    transform-origin: top;
}

/**/

#navi-bottom{
	float:right;
	margin-left: 4rem;	
}

#navi-bottom a{
	text-decoration:none;
	padding:5px;
	text-align:right;
}

#navi-bottom a:hover, #navi-bottom .active-item{
	background:#594F3E;
	color:#fff;
}

.csc-textpic-imagewrap a:hover{
	background:none;	
}

/******* Frame1***********/

.csc-frame-frame1{
	border-top: 1px dotted #594F3E;
	padding:15px;
	margin: 30px 0 15px 0;
}

.csc-frame-frame1 h1{
	color:#594F3E;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:18px;
	padding:10px 0px 10px 0px;
	margin:0;
	font-weight:normal;
	text-transform:lowercase
}

/******* Frame2***********/

.csc-frame-frame2{
	float:left;
	margin-right:20px;
	margin-bottom:20px;
}
.csc-default{
	margin-top: -10px;
}
/******* OnlineShop ********/
#shop{
	display: flex;
    align-items: center;
    margin: auto;
}


#online-shop{
	background:	#B8BF31;
	position:fixed;
	right:0;
	top:130px;
	z-index:1000;
}

#online-shop a{
	color:#fff;
	padding:7px 20px 7px 7px;
	font-weight:bold;
	font-size:14px;
	text-transform:uppercase;
	text-decoration:none;
	display:block;
}


/* Bestellformular */

.wmfg_questions{
	list-style-type: none;
	width: 500px;
	padding: 0;
}

.wmfg_q{
	margin-bottom: 15px;
}

.wmfg_text{
	width:100%;
	padding: 7.5px 15px;
	background-color: #DAD5CB;
	border: 1px solid #A29379;
}

.wmfg_text:focus{
	outline: 1px solid #A29379 !important;
	box-shadow: none;
}

.wmfg_select{
	display: block;
}

.wmfg_btn{
	margin-top: 15px;
	width: 30%;
	padding: 7.5px;
	cursor: pointer;
	border:2px solid #8e8e03;
	background-color: transparent;
	color: #8e8e03;
	text-transform: uppercase;
	transition: all 0.2s;
}

.wmfg_btn_noPadding{
	padding: 0;
	
}
#header-button{
	width: unset;
	margin: 0;
	height: 75px;
	margin: auto;
}

.wmfg_btn:hover{
	background-color: #8e8e03;
	
	color: #fff;
}

.wmfg_btn:active{
	border-color: #DAD5CB;
}

.select_container {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 532px;
}    .select_container select {
        font-family: 'Arial';
        display: inline-block;
        width: 100%;
        cursor: pointer;
        padding: 7.5px 15px;
        outline: 0;
        border-radius: 0px;
		color: #000000;
		background: #DAD5CB;
		border: 1px solid #A29379;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
	.select_container select::-ms-expand {
		outline: none !important;
		display: none;
	}
	.select_container select:hover,
	.select_container select:focus {
		background: #A29379;
		color: #ffffff;
        }
        .select_container select:disabled {
            opacity: 1;
            pointer-events: none;
        }
.select_arrow {
    position: absolute;
    top: 30px;
    right: 15px;
    width: 1px;
    height: 1px;
    border: solid #000;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.select_container select:hover ~ .select_arrow,
.select_container select:focus ~ .select_arrow {
    border-color: #ffffff;
}
.select_container select:disabled ~ .select_arrow {
    border-top-color: #ffffff;
}
html[lang="de"] #shop .shopit{
	display: none;
}
	html[lang="it"] #shop .shopde{
	display: none;
}

.button-order .wmfg_btn{
	width: 250px;
}
.delivery{
	width: 250px;
	width: 100%;
	font-size: 16px;
	margin-top: 2rem;
    line-height: 30px;
}
.other-size{
	font-size: 12px;
}
#c388{
	width: 750px;
	margin-right: 3rem;
}
#c387{
	width: 750px;
	margin-right: 3rem;
}

#content-outer{
	background:url(../images/sarner-gschick-bg.gif) no-repeat right bottom;
	background-color: #DAD5CB;
	background-position: right 99%;
}

